/* .underer{
    margin-left: 10px;
    text-decoration: underline;
    color: red;
    font-size: large;
   
}
.mainnnn{
    font-size: 10px;
    font-weight: 90px;
} */
 .view{
  text-align: end;
  color: rgba(64, 64, 194, 0.862);
 }
 /* .veee{
    border: 5px soild red;
    width: 30px;
 } */